flow.json
[{"id":"52f8dc19.e26554","type":"tab","label":"SMART AGRICULTURE SYSTEM","disabled":false,"info":"This is a smart agriculture system, where you can check for the weather and soil conditions and control devices like motor and lights"},{"id":"164940b.62463bf","type":"inject","z":"52f8dc19.e26554","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":200,"wires":[["56ad9f41.4372c"]]},{"id":"16a16bd2.536ac4","type":"change","z":"52f8dc19.e26554","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":220,"wires":[["d7032f9.10913d"]]},{"id":"31e86825.3e84f8","type":"change","z":"52f8dc19.e26554","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":280,"wires":[["fb64dd37.1ef6e"]]},{"id":"9fddd6d0.d16f08","type":"ibmiot in","z":"52f8dc19.e26554","authentication":"apiKey","apiKey":"43b6dac0.851aa4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"device01","applicationId":"","deviceType":"device","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":290,"y":640,"wires":[["981508b7.1fb6e8","9ed75d5d.029f7","a6c00021.e5349"]]},{"id":"a892f6e2.6754a8","type":"debug","z":"52f8dc19.e26554","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":880.5999755859375,"y":627,"wires":[]},{"id":"981508b7.1fb6e8","type":"function","z":"52f8dc19.e26554","name":"humidity","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":620,"wires":[["a892f6e2.6754a8","cfe5c2b7.b7006"]]},{"id":"9ed75d5d.029f7","type":"function","z":"52f8dc19.e26554","name":"temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":700,"wires":[["a892f6e2.6754a8","9de0645f.c266a8"]]},{"id":"1b6762d3.67825d","type":"ibmiot out","z":"52f8dc19.e26554","authentication":"apiKey","apiKey":"43b6dac0.851aa4","outputType":"cmd","deviceId":"device02","deviceType":"device1","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":560,"y":1200,"wires":[]},{"id":"c372d163.23329","type":"ui_button","z":"52f8dc19.e26554","name":"MOTOR on","group":"decb8852.f7ffd8","order":1,"width":11,"height":2,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motor on\"}","payloadType":"json","topic":"","x":310,"y":1080,"wires":[["1b6762d3.67825d","523bee43.1fdbc"]]},{"id":"5f5058fd.5d87d8","type":"ui_button","z":"52f8dc19.e26554","name":"MOTOR off","group":"decb8852.f7ffd8","order":3,"width":11,"height":2,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motor off\"}","payloadType":"json","topic":"","x":330,"y":1140,"wires":[["1b6762d3.67825d","523bee43.1fdbc"]]},{"id":"a6c00021.e5349","type":"function","z":"52f8dc19.e26554","name":"objectTemp","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":760,"wires":[["a892f6e2.6754a8","17c6a08c.6e97df"]]},{"id":"cfe5c2b7.b7006","type":"ui_gauge","z":"52f8dc19.e26554","name":"","group":"d99ff169.9420b","order":1,"width":3,"height":3,"gtype":"gage","title":"HUMIDITY","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":580,"wires":[]},{"id":"9de0645f.c266a8","type":"ui_gauge","z":"52f8dc19.e26554","name":"","group":"d99ff169.9420b","order":2,"width":3,"height":3,"gtype":"gage","title":"TEMPERATURE","label":"° C","format":"{{value}}","min":0,"max":"100","colors":["#24a824","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":720,"wires":[]},{"id":"17c6a08c.6e97df","type":"ui_gauge","z":"52f8dc19.e26554","name":"","group":"d99ff169.9420b","order":3,"width":3,"height":3,"gtype":"gage","title":"OBJECT TEMPERTURE","label":"° C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":780,"wires":[]},{"id":"87572901.fa5558","type":"ibmiot in","z":"52f8dc19.e26554","authentication":"apiKey","apiKey":"43b6dac0.851aa4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"soil","applicationId":"","deviceType":"sensor","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":310,"y":880,"wires":[["b8aee705.02dc18"]]},{"id":"d425c857.e88cb8","type":"ui_gauge","z":"52f8dc19.e26554","name":"","group":"d99ff169.9420b","order":4,"width":4,"height":4,"gtype":"gage","title":"SOIL MOISTURE","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":840,"wires":[]},{"id":"b8aee705.02dc18","type":"function","z":"52f8dc19.e26554","name":"soil moisture","func":"msg.payload=msg.payload.soil_moisture\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":880,"wires":[["d425c857.e88cb8"]]},{"id":"48dbeaa4.d3eea4","type":"ui_text","z":"52f8dc19.e26554","group":"decb8852.f7ffd8","order":8,"width":"9","height":"2","name":"motor status","label":"","format":"{{msg.payload.command}}","layout":"row-left","x":830,"y":1060,"wires":[]},{"id":"e9d55794.f751a8","type":"change","z":"52f8dc19.e26554","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":400,"wires":[["eebe6a1a.bab938"]]},{"id":"eebe6a1a.bab938","type":"ui_text","z":"52f8dc19.e26554","group":"d9fe0b2a.692728","order":2,"width":4,"height":1,"name":"PLACE","label":"PLACE","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":400,"wires":[]},{"id":"ef4c42bc.ecd93","type":"debug","z":"52f8dc19.e26554","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":160,"wires":[]},{"id":"374a6ae1.fd0756","type":"change","z":"52f8dc19.e26554","name":"pre","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":340,"wires":[["86a3dce1.e7ec5"]]},{"id":"d7032f9.10913d","type":"ui_gauge","z":"52f8dc19.e26554","name":"","group":"fecbd197.f1503","order":2,"width":3,"height":3,"gtype":"gage","title":"TEMPERATURE","label":"° C","format":"{{value}}","min":0,"max":"100","colors":["#24a824","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":220,"wires":[]},{"id":"86a3dce1.e7ec5","type":"ui_gauge","z":"52f8dc19.e26554","name":"","group":"fecbd197.f1503","order":3,"width":3,"height":3,"gtype":"gage","title":"PRESSURE","label":"hPa","format":"{{value}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":340,"wires":[]},{"id":"56ad9f41.4372c","type":"http request","z":"52f8dc19.e26554","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Coimbatore,IN&appid=3f4316f5cd98e51afe66ee0d132ce0f4&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":200,"wires":[["16a16bd2.536ac4","31e86825.3e84f8","e9d55794.f751a8","374a6ae1.fd0756","ef4c42bc.ecd93"]]},{"id":"7d3feada.ab4284","type":"ui_switch","z":"52f8dc19.e26554","name":"","label":"LIGHT1","tooltip":"","group":"a3dccc99.82526","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"command\":\"LIGHT1 on\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"command\":\"LIGHT1 off\"}","offvalueType":"json","officon":"","offcolor":"","x":320,"y":1220,"wires":[["1b6762d3.67825d"]]},{"id":"3162999.2fe9a66","type":"ui_switch","z":"52f8dc19.e26554","name":"","label":"LIGHT2","tooltip":"","group":"a3dccc99.82526","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"command\":\"LIGHT2 on\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"command\":\"LIGHT2 off\"}","offvalueType":"json","officon":"","offcolor":"","x":320,"y":1280,"wires":[["1b6762d3.67825d"]]},{"id":"523bee43.1fdbc","type":"change","z":"52f8dc19.e26554","name":"","rules":[{"t":"change","p":"payload.command","pt":"msg","from":"motor","fromt":"str","to":"Cool, the motor is turned ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1060,"wires":[["48dbeaa4.d3eea4"]]},{"id":"fb64dd37.1ef6e","type":"ui_gauge","z":"52f8dc19.e26554","name":"","group":"fecbd197.f1503","order":1,"width":3,"height":3,"gtype":"gage","title":"HUMIDITY","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":280,"wires":[]},{"id":"ff28d2f5.3d233","type":"ui_button","z":"52f8dc19.e26554","name":"","group":"d9fe0b2a.692728","order":3,"width":0,"height":0,"passthru":false,"label":"START","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"DATA\"}","payloadType":"json","topic":"","x":360,"y":1500,"wires":[["bde85b2c.5e11c8"]]},{"id":"4cd87e2d.0285a","type":"ui_button","z":"52f8dc19.e26554","name":"","group":"732c1f8a.957e2","order":0,"width":0,"height":0,"passthru":false,"label":"WEATHER  DATA","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"WEATHER DATA\"}","payloadType":"json","topic":"","x":310,"y":1620,"wires":[["bde85b2c.5e11c8"]]},{"id":"2f5f8289.11f52e","type":"ui_button","z":"52f8dc19.e26554","name":"","group":"732c1f8a.957e2","order":1,"width":0,"height":0,"passthru":false,"label":"SIMULATOR DATA","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"SIMULATOR DATA\"}","payloadType":"json","topic":"","x":310,"y":1680,"wires":[["bde85b2c.5e11c8"]]},{"id":"bde85b2c.5e11c8","type":"ui_ui_control","z":"52f8dc19.e26554","name":"","events":"all","x":640,"y":1920,"wires":[[]]},{"id":"bb0cabef.c5d008","type":"ui_button","z":"52f8dc19.e26554","name":"","group":"aaa8988a.f75708","order":2,"width":0,"height":0,"passthru":false,"label":"BACK TO HOME","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"HOME\"}","payloadType":"json","topic":"","x":310,"y":1740,"wires":[["bde85b2c.5e11c8"]]},{"id":"592cdeea.1457c","type":"ui_button","z":"52f8dc19.e26554","name":"","group":"fecbd197.f1503","order":0,"width":0,"height":0,"passthru":false,"label":"BACK TO HOME","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"HOME\"}","payloadType":"json","topic":"","x":310,"y":1800,"wires":[["bde85b2c.5e11c8"]]},{"id":"3ac77537.daceda","type":"ui_button","z":"52f8dc19.e26554","name":"","group":"d99ff169.9420b","order":0,"width":0,"height":0,"passthru":false,"label":"BACK TO HOME","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"HOME\"}","payloadType":"json","topic":"","x":290,"y":1980,"wires":[["bde85b2c.5e11c8"]]},{"id":"17ae4fe2.7b148","type":"ui_button","z":"52f8dc19.e26554","name":"","group":"fecbd197.f1503","order":7,"width":0,"height":0,"passthru":false,"label":"BACK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"DATA\"}","payloadType":"json","topic":"","x":290,"y":1860,"wires":[["bde85b2c.5e11c8"]]},{"id":"66b125d4.39d2ec","type":"ui_button","z":"52f8dc19.e26554","name":"","group":"d99ff169.9420b","order":7,"width":0,"height":0,"passthru":false,"label":"BACK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"DATA\"}","payloadType":"json","topic":"","x":310,"y":2020,"wires":[["bde85b2c.5e11c8"]]},{"id":"b4dbe8ef.df4d08","type":"ui_button","z":"52f8dc19.e26554","name":"","group":"fecbd197.f1503","order":8,"width":0,"height":0,"passthru":false,"label":"MOTOR CONTROL","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"MOTOR\"}","payloadType":"json","topic":"","x":300,"y":1920,"wires":[["bde85b2c.5e11c8"]]},{"id":"c5fe1386.26d7f","type":"ui_button","z":"52f8dc19.e26554","name":"","group":"d99ff169.9420b","order":8,"width":0,"height":0,"passthru":false,"label":"MOTOR CONTROL","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"MOTOR\"}","payloadType":"json","topic":"","x":300,"y":2080,"wires":[["bde85b2c.5e11c8"]]},{"id":"e4876e75.01d16","type":"ui_button","z":"52f8dc19.e26554","name":"","group":"82f25a31.4d6a28","order":8,"width":0,"height":0,"passthru":false,"label":"MOTOR CONTROL","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"MOTOR\"}","payloadType":"json","topic":"","x":300,"y":1560,"wires":[["bde85b2c.5e11c8"]]},{"id":"9023194c.8250b8","type":"ui_button","z":"52f8dc19.e26554","name":"","group":"decb8852.f7ffd8","order":0,"width":0,"height":0,"passthru":false,"label":"BACK TO HOME","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"HOME\"}","payloadType":"json","topic":"","x":310,"y":2140,"wires":[["bde85b2c.5e11c8"]]},{"id":"61105521.c5ae1c","type":"ui_button","z":"52f8dc19.e26554","name":"","group":"82f25a31.4d6a28","order":8,"width":0,"height":0,"passthru":false,"label":"LIGHT ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"LIGHTS\"}","payloadType":"json","topic":"","x":390,"y":2240,"wires":[["bde85b2c.5e11c8"]]},{"id":"fb4d389f.f4cbf8","type":"ui_button","z":"52f8dc19.e26554","name":"","group":"a3dccc99.82526","order":2,"width":0,"height":0,"passthru":false,"label":"BACK TO HOME","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"HOME\"}","payloadType":"json","topic":"","x":310,"y":2200,"wires":[["bde85b2c.5e11c8"]]},{"id":"7ee6d6ea.bd9128","type":"ui_text","z":"52f8dc19.e26554","group":"d9fe0b2a.692728","order":1,"width":"0","height":"0","name":"","label":"","format":"WELCOME TO SMART AGRICULTURAL SYSTEM","layout":"row-spread","x":710,"y":1500,"wires":[]},{"id":"43b6dac0.851aa4","type":"ibmiot","z":"","name":"device","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"decb8852.f7ffd8","type":"ui_group","z":"","name":"CONTROL","tab":"9be0798d.904168","order":5,"disp":true,"width":"24","collapse":false},{"id":"d99ff169.9420b","type":"ui_group","z":"","name":"SIMULATOR DATA","tab":"913be773.163848","order":3,"disp":true,"width":"14","collapse":false},{"id":"d9fe0b2a.692728","type":"ui_group","z":"","name":"HOME","tab":"42013617.1788f8","order":2,"disp":false,"width":"8","collapse":false},{"id":"fecbd197.f1503","type":"ui_group","z":"","name":"WEATHER DATA","tab":"8633eb08.56e268","order":2,"disp":true,"width":"10","collapse":false},{"id":"a3dccc99.82526","type":"ui_group","z":"","name":"control","tab":"fa359d18.c94e3","order":1,"disp":true,"width":"6","collapse":false},{"id":"732c1f8a.957e2","type":"ui_group","z":"","name":"DATA","tab":"932b88ce.158908","order":1,"disp":true,"width":"8","collapse":false},{"id":"aaa8988a.f75708","type":"ui_group","z":"","name":"BACK","tab":"932b88ce.158908","order":3,"disp":false,"width":"16","collapse":false},{"id":"82f25a31.4d6a28","type":"ui_group","z":"","name":"CONTROL","tab":"932b88ce.158908","order":2,"disp":true,"width":"8","collapse":false},{"id":"9be0798d.904168","type":"ui_tab","z":"","name":"MOTOR","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"913be773.163848","type":"ui_tab","z":"","name":"SIMULATOR DATA","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"42013617.1788f8","type":"ui_tab","z":"","name":"HOME","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"8633eb08.56e268","type":"ui_tab","z":"","name":"WEATHER DATA","icon":"fef","order":2,"disabled":false,"hidden":false},{"id":"fa359d18.c94e3","type":"ui_tab","z":"","name":"LIGHTS","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"932b88ce.158908","type":"ui_tab","z":"","name":"DATA","icon":"dashboard","disabled":false,"hidden":false}]